Checks: '-*,
         bugprone-*,
         clang-analyzer-*,
         cppcoreguidelines-*,
         modernize-*,
         performance-*,
         portability-*,
         readability-*,
         concurrency-*,
         -modernize-use-trailing-return-type,
         -cppcoreguidelines-avoid-magic-numbers,
         -readability-magic-numbers'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
UseColor: true
# Specify C++20 standard
Standard: c++20
CheckOptions:
  - key: readability-identifier-length.MinimumVariableNameLength
    value: 2
  - key: readability-identifier-length.MinimumParameterNameLength
    value: 2
